* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  display: flex;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  text-align: center;
  background-color: white;
  padding: 0.7rem;
  margin: 0 auto;
}

.card-header {
  background-color: rgb(235, 229, 229);
  padding: 0.7rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-image-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
