body {
  background-color: grey;
}

.card-container {
  width: fit-content;
  text-align: center;
  background-color: white;
  padding: 0.7rem;
  margin: 0 auto;
}

.card-header {
  background-color: rgb(235, 229, 229);
  padding: 0.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-image-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
