body {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 300px;
  text-align: center;
  background-color: white;
  padding: 0.7rem;
}

.card-header {
  background-color: rgb(235, 229, 229);
  padding: 0.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
