body {
  background-color: grey;
}

.card-container {
  width: 300px;
  text-align: center;
  background-color: white;
  padding: 0.5rem;
}

.card-header {
  background-color: grey;
  padding: 0.2rem;
  margin-bottom: 5px;
}

.card-image-container img {
  width: 100%;
  height: 200px;
}
